#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#pokemonName {
    max-width: 450px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px hsla(0, 0%, 0%, 0.5);
}

#btn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
    background-color: red;
}

#btn:hover {
    background-color: rgb(84, 225, 84);
}

#btn:active {
    background-color: rgb(37, 202, 37);
}

#imageContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonImage {
width:250px;
}
